# 书中例4.1，采用sklearn.naive_bayes.GaussianNB解答

In [1]:
import numpy as np
import pandas as pd

from sklearn.naive_bayes import GaussianNB

## 加载数据集

In [2]:
columeLabel = ['X1','X2','Y']
trainDataset = pd.read_csv('data_4-1.txt', sep='\t', header=None, index_col=False, names=columeLabel)

In [3]:
#def create_data():
   # columeLabel = ['X1','X2','Y']
    #dataset = pd.read_csv('data_4-1.txt', sep='\t', header=None, index_col=False, names=columeLabel)
    #x_columns = [x for x in dataset.columns if x not in 'Y']
    #return dataset[x_columns], dataset['Y'], dataset

In [4]:
trainDataset

    X1 X2  Y
0    1  S -1
1    1  M -1
2    1  M  1
3    1  S  1
4    1  S -1
5    2  S -1
6    2  M -1
7    2  M  1
8    2  L  1
9    2  L  1
10   3  L  1
11   3  M  1
12   3  M  1
13   3  L  1
14   3  L -1

## 对数据进行量化处理

In [5]:
X2_mapping = {label: idx+1 for idx, label in enumerate(np.unique(trainDataset['X2']))}
trainDataset['X2'] = trainDataset['X2'].map(X2_mapping)

In [6]:
trainDataset

    X1  X2  Y
0    1   3 -1
1    1   2 -1
2    1   2  1
3    1   3  1
4    1   3 -1
5    2   3 -1
6    2   2 -1
7    2   2  1
8    2   1  1
9    2   1  1
10   3   1  1
11   3   2  1
12   3   2  1
13   3   1  1
14   3   1 -1

## 对应的colume量化字典

In [7]:
{**X2_mapping}

{'L': 1, 'M': 2, 'S': 3}

## 得到训练数据

In [8]:
x_columns = [x for x in trainDataset.columns if x not in 'Y']
X_train = trainDataset[x_columns]
y_train = trainDataset['Y']

In [9]:
clf = GaussianNB()
clf.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

## 预测$x=(2,S)$的分类

In [10]:
clf.predict([[2,3]])

array([-1], dtype=int64)

可以看到该分类为-1，与书中的的答案一致